node_modules/
logs/
.env
*.log
.cache/
.ssh/
*.dump
*.zip
.github/fluxos de trabalho/
/frontend/dist/
.env
.npm/
.npm/_cacache/

# Build e deps
/dist
/node_modules

# Backups internos
/repo.git
/repo-clean.git
coverage/
