# Node
node_modules/
dist/
coverage/

# Repositórios acidentais
repo.git/
repo-clean.git/

# Logs & lockfiles
npm-debug.log*
pnpm-lock.yaml
yarn.lock
*.log

# Env & SO
.env
.env.local
.env.*.local
.DS_Store

# PM2 / misc
.pids
