# Build output
/dist
# Node modules
/node_modules
# Logs
/logs
# Env local overrides (não versionar secrets)
.env*
# Prisma client generator (às vezes você não quer commitar isso)
/node_modules/@prisma/client
